C1/LaTeX/C1_DRAFT.aux
C1/LaTeX/C1_DRAFT.fdb_latexmk
C1/LaTeX/C1_DRAFT.fls
C1/LaTeX/C1_DRAFT.log
C1/LaTeX/C1_DRAFT.out
C1/LaTeX/C1_DRAFT.synctex.gz
.DS_Store
C1/LaTeX/p1.jpg
C1/docs/consent/questions/Questions.aux
C1/docs/consent/questions/Questions.fdb_latexmk
C1/docs/consent/questions/Questions.fls
C1/docs/consent/questions/Questions.log
C1/docs/consent/questions/Questions.synctex.gz
C1/interviews/DomainExperts/domainExpert1.aux
C1/interviews/DomainExperts/domainExpert1.fdb_latexmk
C1/interviews/DomainExperts/domainExpert1.fls
C1/interviews/DomainExperts/domainExpert1.log
C1/interviews/DomainExperts/domainExpert1.out
C1/interviews/DomainExperts/domainExpert1.synctex.gz
C1/interviews/DomainExperts/domainExpert1.toc
C1/draft/C1_DRAFT.aux
C1/draft/C1_DRAFT.fdb_latexmk
C1/draft/C1_DRAFT.fls
C1/draft/C1_DRAFT.out
C1/draft/C1_DRAFT.log
C1/draft/C1_DRAFT.synctex.gz
